body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#videoSection, #bankSection {
    text-align: center;
    padding: 20px;
    background-color: #e4e4e4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    border-radius: 8px;
}
#videoSection {
    background-image: url(pp.png);
}
@media (max-width: 768px) {
    #videoSection, #bankSection {
        margin: 10px;
    }
}